* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  font-size: 17px;
  font-weight: 500;

  height: 100vh;
  margin: 0 auto;
  max-width: 850px;
  padding: 0 1rem;
}
/* remove padding on mobile to keep entire page one color */
@media only screen and (max-width: 750px) {
  body {
    padding: 0;
  }
}

article {
  /* height: 100%; */
  min-height: 100vh;
  padding: 2rem 2rem;

  line-height: 1.6;
}

article:focus {
  outline: none;
}

article div {
  font-weight: unset;
  font-size: unset;
}
