* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  max-width: 700px;
  padding: 1rem;
}

article {
  height: 100%;
}

article:focus {
  outline: none;
}
