* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  font-size: 18px;
  font-weight: 500;
}

body {
  height: 100vh;
  margin: 0 auto;
  max-width: 850px;
  padding: 0 1rem;
}
/* remove padding on mobile to keep entire page one color */
@media only screen and (max-width: 750px) {
  body {
    padding: 0;
  }
}

textarea {
  border: none;
  resize: none;

  min-height: 100vh;
  width: 100%;
  padding: 2rem 2rem;

  line-height: 1.6;
}

textarea:focus {
  outline: none;
}

/* links */
.links {
  font-size: 0.8rem;
  opacity: 0.8;

  overflow-x: hidden;
  word-break: break-all;
}
.links ol {
  margin: 1.5rem 2.5rem;
}
.links ol li + li {
  margin-top: 0.8rem;
}

a {
  color: blue;
}
